html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*
	Default
*/
body{ font-family: 'Montserrat', sans-serif; }

.float { float:left; }

.wrapper{
	display: block;
	padding: 0 100px;
}

section{
	width: 100%;
	padding-left: 250px;
	display: inline-block;
	box-sizing: border-box;
}

.content {
	display: block;
	text-align: center;
}

.seeMore {
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
	color: #FFF;
	text-decoration: none;
	background: transparent url("../img/see_more.png") no-repeat scroll 100% 0%;
	padding: 1px 25px 1px 0;
}

_:-moz-tree-row(hover), .seeMore { padding: 0 25px 0 0 }

.seeMore:hover { background: transparent url("../img/see_more.png") no-repeat scroll 100% -21px }

/*
	Menu principal
*/
header{
    width: 250px;
    height: 100%;
    background: url('../img/menu_bg.jpg')no-repeat;
    position: fixed;
    z-index: 10;
}

nav{
	padding: 0px 40px;
	margin: 40px 0px;
}

.mainMenu li{
	width: 239px;
	padding: 0 0 15px;
}

.mainMenu li:hover{
	background: transparent url("../img/menu_hover.png") no-repeat scroll 100% 100%;
	color: #000;
}

.mainMenu li a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.75em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: -0.5px;
	padding: 5px 0 8px;
}

.mainMenu li:hover a,
.mainMenu li a:hover{
	background:#fff;
	color: #000000;
	padding: 5px 0 8px 10px;
}


h1.logo a{
	width: 80%;
	height: 185px;
	margin: 10% auto 0 auto;
	background: transparent url("../img/logo.png") no-repeat scroll 0% 0% /contain;
	display: block;
	color: transparent;	
}

/*
	Biografia
*/
#biography{
	background: #E11B1B;
}

.bio_title{
	background: url('../img/bio_sky.jpg')repeat-x;
	text-align: center;
}

.bio_title img,
.bio_title div { 
	display: inline-block;
	color: #ffffff;
}

.bio_title img {
	float:left;
	margin-top: 21px;
}

.bio_title div { padding: 39px 0 40px 20px }

.bio_title .title_img {
	width: 100px;
	height: 85px;
	display: inline-block;
	float: left;
	margin: 10px 5px 0 0;
	background: url('../img/bio_title.png')repeat-x;
}

.bio_title .release {
	font-size: 1.15em;
	text-transform: uppercase;
	text-align: left;
	font-weight: 500;
	letter-spacing: -0.3px;
	margin-bottom: 5px;
}

.bio_title .release.float {
	font-size: 3em;
	font-weight: 900;
	text-transform: lowercase;
}

#biography #triangles_top {
	background: url('../img/bio_top.png')no-repeat;
	position: absolute;
	width: 253px;
	height: 132px;
	top: 150px;
	right: 0;
}

#biography #triangles_bottom {
	background: url('../img/bio_bottom.png')no-repeat;
	position: absolute;
	width: 717px;
	height: 284px;
	/*top: 150px;*/
	right: 0;
}

.hashtag {
    text-align: right !important;
    width: 230px;
    display: inline-block;
}

.hashtag img{
	display: inline-block;
	margin-left: 7px;
}

.hashtag p{
	font-size: 7em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -2px;
	margin-top: -22px;
	color: #ffe200;
}

.hashtag p +p{
	color: #FFF;
	font-size: 6.75em;
	top: -9px;
	position: relative;
	letter-spacing: 0.5px;
}

.hashtag p +p +p{
	font-size: 6em;
	font-weight: 500;
	top: -7px;
	letter-spacing: -1px;
}

.hashtag p span { color: #ffe200 }

#biography .content .release{
	display: inline-block;
	width: 400px;
	text-align: left;
	padding-left: 30px;
	position: relative;
	top: -18px;
}

#biography .release p{
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.85em;
	box-sizing: border-box;
	line-height: 40px;
	margin-bottom: 25px;
}

 #biography .seeMore{
	margin-bottom: 10px;
}

#biography .content{
	margin: 80px 0 70px 0;
}

/*
	Peças
*/

#shows{
	background: rgba(125,11,13,1);
	background: -moz-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,11,13,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0b0d', endColorstr='#000000', GradientType=0 );
}

#shows .release{
	max-width: 650px;
	width: 100%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	line-height: 30px;
}

#shows .wrapper{
	position: relative;
	z-index: 2;
	padding: 100px;
}

#shows img[alt="Peças"]{
	margin: 40px 0 20px 0;
}

/*
	Peças Slider
*/
#slide{
	width: 100%;
	height: 350px;
	display: inline-block;
	overflow: hidden;
	margin-top: -1px;
}

#slide .overview{
	width: 306.5%;
	height: 350px;
	display: block;
	position: relative;
}

#slide .viewPort{
	width: 32.7%;
	display: inline-block;
	float: left;
}

#slide .viewPort a{
	display: inline-block;
	text-decoration: none;
}

#slide .viewPort h6{
	font-family: "Roboto",sans-serif;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	/*padding: 130px 20px;*/
	background: rgba(64, 195, 219, 0.75) none repeat scroll 0% 0%;
	box-sizing: border-box;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	height: 100%;
    visibility: hidden;
}

/*#slide .largeImg h6 { padding: 260px 20px }*/

#slide .viewPort .largeImg{
	width: 49.5%;
	height: 350px;
	float: left;
	margin-left: 2px;
}

#slide a:hover h6 { visibility: visible }

#slide .viewPort .largeImg +a{
	margin-bottom: 8px;
}

#slide .viewPort .smallImg{
	width: 49.5%;
	height: 100px;
	float: right;
}

/*Definindo posicionamentos do Controller*/
/*#slideController{
	width: 100%;
	height: 50px;
	position: absolute;
	top:48%;
}

#slideController button{
	width: 30px;
	height: 50px;
	border: 0;
	display: inline-block;
	background: url('../img/slideButtons.png')no-repeat;
	cursor: pointer;
}*/

/*#slideController .prev{
	position: absolute;
	left: 5%;
}

#slideController .next{
	position: absolute;
	right: 5%;
	background-position: 100% 0%;
}*/

/*Inserindo imagens nos slides*/
#slide .slide_01 a { background: url('../img/slideImg_01.jpg')no-repeat scroll center / cover; }
#slide .slide_01 a +a { background: url('../img/slideImg_02.jpg')no-repeat scroll center / cover; }
#slide .slide_01 a +a +a{ background: url('../img/slideImg_03.jpg')no-repeat scroll center / cover; }

#slide .slide_02 a { background: url('../img/slideImg_01.jpg')no-repeat scroll center / cover; }
#slide .slide_02 a +a { background: url('../img/slideImg_02.jpg')no-repeat scroll center / cover; }
#slide .slide_02 a +a +a { background: url('../img/slideImg_03.jpg')no-repeat scroll center / cover; }

#slide .slide_03 a { background: url('../img/slideImg_01.jpg')no-repeat scroll center / cover; }
#slide .slide_03 a +a { background: url('../img/slideImg_02.jpg')no-repeat scroll center / cover; }
#slide .slide_03 a +a +a { background: url('../img/slideImg_03.jpg')no-repeat scroll center / cover; }





