
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle;}

/*
	Default
*/
body{ font-family: 'Montserrat', sans-serif; }

.float { float:left; }

.wrapper{
	display: block;
	padding: 0 100px;
}

section, footer{
	width: 100%;
	padding-left: 250px;
	display: inline-block;
	box-sizing: border-box;
}

.content {
	display: block;
	text-align: center;
}

.seeMore {
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
	color: #FFF;
	text-decoration: none;
	background: transparent url("../img/see_more.png") no-repeat scroll 100% 0%;
	padding: 1px 25px 1px 0;
}

_:-moz-tree-row(hover), .seeMore { padding: 0 25px 0 0; }

.seeMore:hover { background: transparent url("../img/see_more.png") no-repeat scroll 100% -21px; }

.signature {
	width: 211px;
	height: 39px;
	display: inline-block;
	background: url('../img/adiel-hazaitz.png')no-repeat;
	color: transparent;
}

#lightbox_bio {
	display: none;
	width: 800px;
	height: 600px;
	left: 50%;
	margin-left:-400px;
	margin-top: -300px;
	top: 50%;
	background: #000;
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 0px solid #000000;
	position: fixed;
	z-index: 10;
	overflow: scroll;
}

#lightbox_bio .close{
	width:800px;
	position:fixed;
	display:block;
	background:#171717;
	height:50px;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;
}

#lightbox_bio button {
	float: right;
	margin: 10px 10px 0 0;
	border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 0px solid #000000;
	border: 0;
	background: orange;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	padding: 5px 10px;
	cursor:pointer;
}

/*
	Menu principal
*/
header{
    width: 250px;
    height: 100%;
    background: url('../img/menu_bg.jpg')no-repeat;
    position: fixed;
    z-index: 10;
}

nav{
	padding: 0px 40px;
	margin: 40px 0px;
}

.mainMenu li{
	width: 239px;
	padding: 0 0 15px;
}

.mainMenu li:hover{
	background: transparent url("../img/menu_hover.png") no-repeat scroll 100% 100%;
	color: #000;
}

.mainMenu li a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.75em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: -0.5px;
	padding: 5px 0 8px;
}

.mainMenu li:hover a,
.mainMenu li a:hover {
	background:#fff;
	color: #000000;
	padding: 5px 0 8px 10px;
}


h1.logo a{
	width: 80%;
	height: 185px;
	margin: 10% auto 0 auto;
	background: transparent url("../img/logo.png") no-repeat scroll 0% 0% /contain;
	display: block;
	color: transparent;	
}

/*
	Biografia
*/
#biography{
	background: #E11B1B;
}

.bio_title{
	background: url('../img/bio_sky.jpg')repeat-x;
	background-position: 0 0;
	text-align: center;
}

.bio_title img,
.bio_title div { 
	display: inline-block;
	color: #ffffff;
}

.bio_title img {
	float:left;
	margin-top: 21px;
}

.bio_title div { padding: 39px 0 40px 20px; }

.bio_title span {
	width: 100px;
	height: 85px;
	display: inline-block;
	float: left;
	margin: 10px 5px 0 0;
	background: url('../img/bio_title.png')repeat-x;
}

.bio_title .release {
	font-size: 1.15em;
	text-transform: uppercase;
	text-align: left;
	font-weight: 500;
	letter-spacing: -0.3px;
	margin-bottom: 5px;
}

.bio_title .release.float {
	font-size: 3em;
	font-weight: 900;
	text-transform: lowercase;
}

#biography #triangles_top {
	background: url('../img/bio_top.png')no-repeat;
	position: absolute;
	margin:initial;
	width: 253px;
	height: 132px;
	top: 150px;
	right: 0;
}

#biography #triangles_bottom {
	background: url('../img/bio_bottom.png')no-repeat;
	position: absolute;
	width: 717px;
	height: 284px;
	/*top: 150px;*/
	right: 0;
}

.hashtag {
    text-align: right !important;
    width: 230px;
    display: inline-block;
}

.hashtag img{
	display: inline-block;
	margin-left: 7px;
}

.hashtag p{
	font-size: 7em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -2px;
	margin-top: -22px;
	color: #ffe200;
}

.hashtag p +p{
	color: #FFF;
	font-size: 6.75em;
	top: -9px;
	position: relative;
	letter-spacing: 0.5px;
}

.hashtag p +p +p{
	font-size: 6em;
	font-weight: 500;
	top: -7px;
	letter-spacing: -1px;
}

.hashtag p span { color: #ffe200 }

#biography .content .release{
	display: inline-block;
	width: 400px;
	text-align: left;
	padding-left: 30px;
	position: relative;
	top: -18px;
}

#biography .release p{
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.85em;
	box-sizing: border-box;
	line-height: 40px;
	margin-bottom: 25px;
}

 #biography .seeMore{
	margin-bottom: 10px;
	border: 0;
    height: 21px;
    cursor:pointer;
}

#biography .content{
	margin: 80px 0 70px 0;
}

/*
	Peças
*/

#shows{
	background: rgba(125,11,13,1);
	background: -moz-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,11,13,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(125,11,13,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0b0d', endColorstr='#000000', GradientType=0 );
}

#shows .release{
	max-width: 650px;
	width: 100%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 300;
	line-height: 30px;
	margin: 15px 0 25px;
}

#shows .wrapper{
	position: relative;
	z-index: 2;
	padding: 100px;
}

/*
	Peças Slider
*/
#slide{
	width: 100%;
	height: 300px;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 30px;
}

#slide .overview{
	width: 306.5%;
	height: 300px;
	display: block;
	position: relative;
}

#slide .viewPort{
	width: 32.7%;
	display: inline-block;
	float: left;
}

#slide .viewPort a,
#slide .viewPort p {
	display: inline-block;
	text-decoration: none;
	height: 100%;
	background: rgba(64, 195, 219, 0.75) none repeat scroll 0% 0%;
	color:#ffffff;
	padding: 3.5% 20px;
	box-sizing:border-box;

}

#slide .viewPort .largeImg{
	width: 49.5%;
	height: 300px;
	float: left;
	margin-left: 2px;
	padding: 0;
	cursor: pointer;
}

#slide .viewPort .largeImg span{
	background: rgba(255, 171, 0, 0.65) url('../img/seeMore.png')no-repeat center 108px;
	opacity:0;
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 156px 0 130px 0;
	transition: opacity 0.65s;
}

#slide a.largeImg:hover span { opacity:1; }

#slide .viewPort .largeImg +a{
	margin-bottom: 8px;
	text-align: center;
	font-size: 40px;
	font-family: "Trade Winds",cursive;
	letter-spacing: -0.5px;
	line-height: 35px;
}

#slide .viewPort .smallImg{
	width: 49.5%;
	height: 146px;
	float: right;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*Definindo posicionamentos do Controller*/
#slideController{
	width: 100%;
	text-align: center;
}

#slideController button{
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	border-width: 0px 0px 3px;
	border-style: solid;
	border-color: #000 #000 #980000;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	margin: 0px 15px;
	padding: 3.5px 12px 4px 10px;
	background: #F33 none repeat scroll 0% 0%;
	transition: border-bottom 0.35s ease 0s;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #480909;
	text-transform: uppercase;
}

#slideController button:hover{ border-bottom: 3px solid #F33; }

.galery {
    position: absolute;
    background: red;
    width: inherit;
    height: 100%;
    z-index:999;
}

.galery .close{
	position:absolute;
}

.galery li {
	width: 100%;
    height: 100%;
    background-size: cover;
    display: inline-block;
    background: blue;
}

.galery button {
	position: absolute;
	top:45%;
}

.galery button.prevPhoto {

}

.galery button.nextPhoto {
	right:0;
}

/*Inserindo imagens nos slides*/
#slide .slide_01 a { background: url('../img/encontro-no-escuro_01.jpg')no-repeat scroll center / cover; }
#slide .slide_01 a +a { background: url('../img/encontro-no-escuro_02.jpg')no-repeat scroll center / cover; }
#slide .slide_01 p{ background: url('../img/encontro-no-escuro_03.jpg')no-repeat scroll center / cover; }


#slide .slide_02 a { background: url('../img/o-inimigo_01.jpg')no-repeat scroll center / cover; }
#slide .slide_02 a +a { background: url('../img/o-inimigo_02.jpg')no-repeat scroll center / cover; }
#slide .slide_02 p { background: url('../img/o-inimigo_03.jpg')no-repeat scroll center / cover; }

#slide .slide_03 a { background: url('../img/mercador-das-mascaras_01.jpg')no-repeat scroll center / cover; }
#slide .slide_03 a +a { background: url('../img/mercador-das-mascaras_02.jpg')no-repeat scroll center / cover; }
#slide .slide_03 p { background: url('../img/mercador-das-mascaras_03.jpg')no-repeat scroll center / cover; }

/*
	Agenda
*/
#diary{ 
	background: transparent url("../img/diary_bg.jpg") no-repeat scroll 0% 0% / cover;
	padding-bottom: 130px;
}

#diary .wrapper { padding: 0 100px; }

#diary h3 {
	color: #ffe465;
	font-size: 3.5em;
	margin: 60px 0 60px 10px;
}

#diary article {
	width: 185px;
	background: #000000;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	padding: 20px 0 10px 0;
	margin: 0 0 20px 10px;
	text-transform: uppercase;
	cursor: default;
	float: left;
}


#diary article:hover .show { background: #FFFCBF }

#diary .month {
	font-size: 42px;
	letter-spacing: -2px;
	margin-bottom: 15px;
}

#diary .day {
	font-size: 65px;
	font-weight: 900;
	display: block;
	letter-spacing: 0;
}

#diary .show {
	height: 92px;
	color: #000;
	background: #FFF none repeat scroll 0% 0%;
	font-weight: 900;
	padding: 20px 10px;
	margin: 20px 0px 0px;
	box-sizing: border-box;
	border: 10px solid #000;
	vertical-align: middle;
	display: table-cell;
	width: 185px;
}

#diary .event{
	margin: 10px 0 20px;
}

#diary .closed .event {
	height: 0;
	margin: 0;
	overflow: hidden;
}

#diary .open .event {
	height: initial;
}

.event .hour{
	font-family: 'Graduate', sans-serif;
	font-size: 45px;
	margin-bottom: 15px;
}

.event .location {
	padding: 0px 10px;
	line-height: 20px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.event .location::after {
 	content: "";
 	width: 50px;
}

#diary article button {
	font-family: "Open Sans",sans-serif;
	border: 1px solid #000;
	text-decoration: none;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1.5px;
	cursor: pointer;
	padding: 0;
	width: 165px;
	text-transform: uppercase;
}

article.closed button {
	background: #000;
	color: #fff;
}

article.open button {
	color: #000000;
	background: #FFF;
}

#diary .closed button:hover{
	background: #1e1e1e;
	border: 1px solid #1e1e1e;
}

#diary .open button:hover{
	background: #000;
	color: #fff;
	border: 1px solid #fff;
}


#diary article button:hover:active{
	padding: 0;
}


/*
	Projetos
*/
#projects {
	background: transparent url("../img/project-main_top.jpg") no-repeat scroll 0% 0% / cover;
	display: block;
	padding-bottom: 110px;
	position: relative;
}

#projects .main_project {
	display: inline-block;
	width: 200px;
}

#projects .main_project img { margin: 115px 0 10px 130px }

#projects .signature { margin: 5px 0 30px 120px }

#projects .sinopse {
	width: 200px;
	float: right;
	display: inline-block;
	padding: 50px 25px 40px 40px;
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%;
	position: relative;
	margin: 6%;
}

#projects .sinopse .crop {
	max-height: 320px;
	line-height: 22px;
	overflow: scroll;
	display: block;
	padding-right: 15px 
}

#projects .sinopse p { margin-bottom: 20px }

#projects .sinopse a {
	display: block;
	margin-top: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #FF2D00;
	text-decoration: none;
	background: #fff;
	padding: 15px 0;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
}

#projects .sinopse a:hover {
	color: #920000;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.15);
}

/*
	Direção
*/
#direction { 
	background: transparent url("../img/direction-bg.jpg") no-repeat scroll 0% 0% / cover;
	text-align: center;
}

#direction .director {
	display: inline-block;
	width: 453px;
	height: 595px;
}
#direction .director div{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

#direction .director.first{
	background: url('../img/director-eliane.png')no-repeat;
	margin: 100px 0 50px 0;
	text-align: right;
}

#direction .btns div {
	padding: 0px 0px 0px 10px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	width: 100px;
}

#direction .director.first .btns {
	margin: 210px 10px 0 0;
}

#direction .director.last .btns {
	margin: 260px 0px 0px 10px;
}

#direction .director.first .btns div{
	float: right;
}


#direction .director.last{
	background: url('../img/director-adiel.png')no-repeat;
	float: right;
	margin: 20px 40px 0 0;
	text-align: left;
}

#direction div a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('../img/direction-fb.jpg');
}

#direction div a:hover {
	opacity: 0.9;
}

#direction div a +a{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('../img/direction-mail.jpg');
}

#direction .btns p {
	display: inline-block;
	width: 100%;
}

#direction .director.first p {
	margin: 125px 0 0 0;
}

footer{
	background: rgba(3,28,28,1);
	background: -moz-linear-gradient(top, rgba(3,28,28,1) 0%, rgba(5,45,46,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,28,28,1)), color-stop(100%, rgba(5,45,46,1)));
	background: -webkit-linear-gradient(top, rgba(3,28,28,1) 0%, rgba(5,45,46,1) 100%);
	background: -o-linear-gradient(top, rgba(3,28,28,1) 0%, rgba(5,45,46,1) 100%);
	background: -ms-linear-gradient(top, rgba(3,28,28,1) 0%, rgba(5,45,46,1) 100%);
	background: linear-gradient(to bottom, rgba(3,28,28,1) 0%, rgba(5,45,46,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c1c', endColorstr='#052d2e', GradientType=0 );
}

footer .wrapper {
	padding: 30px 0 30px 100px;
	color: #ffffff;
}

footer .side {
	display: inline-block;
	width: 48%;
}

footer .left p + p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 5px 0 0 1.5px;
}


footer .left .fsilva {
	color: #ccc;
	margin-top: 15px;
	text-transform: none;
	letter-spacing: 0.5px;
}

footer .left .fsilva a {
	text-decoration:none;
	text-transform: uppercase;
	border:1px solid rgba(255, 255, 255, 0.3);
	padding: 0 5px;
	margin-left: 2px;
	color:#ffffff;
}

footer .left .fsilva a:hover {
	border: 1px solid rgba(255,255,255,0.65);
    color: rgba(255, 255, 255, 0.65);
}

footer .right {
	text-align: right;
}

footer .right p{
	color: #00BAB9;
    margin-bottom: 10px;
}

footer .social a img {
	width:30px;
	margin-left:10px;
}

footer .social a:hover img {
	opacity:0.78;
}




